<div>
    <h3>{{count}}d{{facets}}</h3>
    <div>
        <button (click)="rollDiceOfHeap()" id="d{{facets}}rollHeapButton">roll {{count}}d{{facets}}</button>
    </div>
    <div class="heapTotal">Total: {{total}}</div>
    <div class="dieRolls">Rolls: {{outcome}}</div>
    <div>
        <button (click)="addDice(1)" id="d{{facets}}addDieButton">add 1d{{facets}}</button>
        <button (click)="addDice(-1)" [disabled]="count<=1" id="d{{facets}}removeDieButton">remove 1d{{facets}}</button>
        <button (click)="removeHeap()" id="d{{facets}}removeHeapButton">remove all d{{facets}}</button>
    </div>
</div>