<h1>{{title}}</h1>
<form [formGroup]="addHeapForm" (ngSubmit)="addHeap()">
    <label for="count-input">Number of dice:
        <input type="number" formControlName="count" id="count-input"/>
    </label>
    <label for="facets-input">
        Number of facets:
        <input type="number" formControlName="facets" id="facets-input">
    </label>
    <button type="submit" [disabled]="!addHeapForm.valid">Add dice to pool</button>
</form>
<h3>Overview</h3>
<button (click)="rollAllDice()" aria-describedby="poolDescriptorElem">roll all dice</button>
<div id="poolDescriptorElem">pool is {{poolDescriptor}}</div>
<div aria-live="polite">Result: {{total}}</div>
<dice-pool (rollSingleHeapEvent)="singleHeapWasRolled($event)" (heapChangedEvent)="consumeHeapChangedEvent()"/>